extends layout

block content
  .container
    .row.justify-content-center
      .col-md-6
        .card.bg-primary.text-white(style="max-width: 18rem;")
          .card-header BadBank Landing Page
          .card-body
            h5.card-title Welcome to the bank
            p.card-text You can use this bank
            img.img-fluid(src="/bank.png", alt="Bad Bank Logo")
